.category-card {

  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  width: 100%;
  height:auto;
  min-height: 300px;
  font-family: "outfit", serif;
}

.category-title {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #111827;
}

.category-item {
  margin-bottom: 12px;
   text-align: left;
}

.category-name {
  font-size: 14px;
  color: #374151;
}

.category-percentage {
  float: right;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
}

.category-bar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #f3f4f6;
  border-radius: 8px;
  margin-top: 4px;
}

.category-bar-fill {
  height: 100%;
  border-radius: 8px 0 0 8px;
  transition: width 0.5s ease;
}