.footer {
  display: flex;
 justify-content: center;
  align-items: center;
   height: 100px;
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent */
    /* Blur effect */
    color: white;
    background-color: #6c757d;
    text-align: center;
    font-size: 1.2rem;
   
  }

  .footer-content {
    max-width: 1200px;
    
  }