
.landing-page-scope .custom-nav {
    font-size: 1.3rem;
    color: #8c61b5;
    letter-spacing: 1px;
    transition: color 0.3s ease;
    justify-content: center;
    position: sticky;
}
.landing-page-scope .profile-image {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.landing-page-scope .landing {
   font-family: 'Outfit', sans-serif;
}

.landing-page-scope .navbar-nav .nav-item {
    margin-left: 16px;
    margin-right: 16px;
}
.landing-page-scope  .drop-down-menu 
{
  padding: 0;
  text-align:center;
  
}
.landing-page-scope  .drop-down-menu-item:hover 
{
  background-color:#8b60b3;
  color: white;
  text-align:center;
}
.landing-page-scope  .drop-down-menu-item 
{
  color:black;

  
}
.landing-page-scope .dropdown {
    box-shadow: none;
    background: none;
    border: none ;
    cursor: pointer;
}

.landing-page-scope .no-caret::after {
    display: none !important;
}

.landing-page-scope .navbar-nav .nav-link {
    position: relative;
    transition: color 0.2s;
    
}

.landing-page-scope .nav-link:focus {
  color: #8c61b5!important; /* same as login button */
}

.landing-page-scope .navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #8c61b5;
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: 0;
}

.landing-page-scope .navbar-nav .nav-link:hover::after {
    width: 100%;
}

.landing-page-scope .navbar-nav .btn {
    color: white;
    background-color: #8c61b5!important;
    width: 125px;
    font-size: 1.1rem;
    padding: 4px 10px;
}

.landing-page-scope .navbar-nav .btn:hover {
    color: white;
    background-color: #8c61b5!important;
}

.landing-page-scope .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(
        #cfc5c500,
        rgba(255, 255, 255, 0)
    ), url('../assets/LMS.jpeg');
    background-size: cover;
    background-position: center;
    color: rgb(245, 245, 245);
    height: 100vh;
}
.landing-page .nav-link.active {
  color: #8c61b5; /* same as login button */
  text-decoration: underline;
}
.landing-page-scope .home h1 {
    font-size: 6rem;
    margin-bottom: 25px;
}

.landing-page-scope .home p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.landing-page-scope .home .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(34, 40, 42, 0.46);
    height: 100%;
    width: 100%;
}

.landing-page-scope .features-section {
  text-align: center;
  padding: 60px 20px;
  background-color: whitesmoke;
}

.landing-page-scope .features-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #297bbe;
}

.landing-page-scope .features-subtitle {
  color: #6c757d;
  font-size: 1.7rem;
  margin-bottom: 40px;
}

.landing-page-scope .features-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.landing-page-scope .feature-card {
  background: #f8f9fa;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  height: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: transform 0.2s ease-in-out;
}

.landing-page-scope .feature-card:hover {
  transform: translateY(-5px);
}

.landing-page-scope .feature-card p {
    margin-top: 10px;
    font-size: 1.2rem;
}

.landing-page-scope .feature-icon {
  font-size: 2rem;
  color: #4dabf7;
  background: #e7f5ff;
  border-radius: 50%;
  padding: 15px;
  display: inline-block;
  margin-bottom: 15px;
}

.landing-page-scope .books-card {
    padding-left: 40px;
    background-image: linear-gradient(
        #cfc5c500,
        rgba(255, 255, 255, 0)
    ), url('../assets/allbooks.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
