.new-releases-wrapper .title {
  text-align: left!important;
  margin-bottom: 30px;
  font-size: 2rem;
  
}

.filter-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
}

.new-releases-wrapper .col {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border: none;
  background: transparent;
  border-radius: 10px;
}

.new-releases-wrapper {
 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
  font-family: "Outfit", serif;
  background-color: white;
  color: black;
  padding-left: 30px;
  
}

.new-releases-wrapper .container-fluid {
  margin-left: 0%;
  padding: 20px;
}

.new-releases-wrapper .allbooks {
  margin-top: 20px;
   background: transparent;
}

.new-releases-wrapper .allbooks .card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: none;
  transition: transform 0.2s;
  width: 250px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.new-releases-wrapper .allbooks .card-body {
  text-align: center;
  background-color: white;
  height: 40px;
  padding-top: 10px;
  border-top: 1px solid rgb(192, 186, 186);
}


.new-releases-wrapper .btn:hover {
  background-color: #8c61b5;
  color: white;
}

.new-releases-wrapper .btn:disabled {
  background-color: #8c61b5;
  color: white;
}

.new-releases-wrapper .btn {
  margin-top: 10px;
  background-color: #8c61b5;
  color: white;
  width: 125px;
  font-size: 17px;
  margin-bottom: 10px;
}

.new-releases-wrapper .allbooks .card:hover {
  transform: scale(1.03);
}

.new-releases-wrapper .allbooks .card-title {
  font-size: 1.1rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new-releases-wrapper .allbooks .card-text {
  color: #555;
}

.new-releases-wrapper .title {
  text-align: left;
  margin-top: 20px;
}
