.wish-list {
    background-color: aliceblue;
    font-family: "Outfit", sans-serif;
    height: 100vh;
    
}

/* Main container */
.wishlist-wrapper {
    margin: 40px auto;
    background-color: #fff;
    width: 85%;
    border-radius: 15px;
    border: 1px solid whitesmoke;
    box-shadow: 0px 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
    padding: 20px;
}

/* Header title row */
.wishlist-wrapper .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

/* Buttons */
.wishlist-wrapper .wishlist-button {
    background-color: #8c61b5;
    color: white;
    width: 150px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 8px;
    transition: background-color 0.3s ease;
}

.wishlist-wrapper .wishlist-button:hover {
    background-color: #8652b6;
}

.wishlist-wrapper .wishlist-button:disabled {
    background-color: #bda2d6;
    cursor: not-allowed;
}

/* Search bar area */
.wishlist-wrapper .search {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    width: 100%;
    background: transparent;
}

/* Search results dropdown */
.wishlist-wrapper .search-results {
    position: absolute;
    z-index: 1000;
    max-height: 220px;
    width: 58%;
    background: white;
    border: 1px solid #ddd;
    overflow-y: auto;
    border-radius: 6px;
}

.wishlist-wrapper .search-results::-webkit-scrollbar {
    display: none;
}

/* Books grid */
.wishlist-books {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    justify-content: flex-start;
}

/* Card styles */
.wishlist-card {
    
    border-radius: 10px;
   
    transition: transform 0.2s;
    object-fit: contain;
    width: 225px;
   
    border: 1px solid rgba(0, 0, 0, 0.1);;
}

.wishlist-card:hover {
    transform: scale(1.05);
}

.wishlist-card img {
    height: 250px;
    width: 100%;
    object-fit: fill;
}

.wishlist-card .card-body {
    padding: 10px;
    text-align: center;
}

.wishlist-card .card-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
}

/* Remove button inside card */
.wishlist-card button {
     background-color: #8c61b5;
    color: white;
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom:10px;
}

.wishlist-card button:hover {
      background-color: #8c61b5;
   
}

/* Responsive design */
@media (max-width: 768px) {
    .wishlist-wrapper .search {
        flex-direction: column;
        gap: 15px;
    }

    .wishlist-books {
        justify-content: center;
    }

    .wishlist-card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .wishlist-card {
        width: 100%;
    }
}
